body {
    background-image: url('./images/Honor\ Your\ Intuition.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    font-family: 'Tajawal', sans-serif;;
}

.tarot-body-bg {
    /* background-color: rgb(50, 48, 48); */
    /* background-image: url('./images/Honor\ Your\ Intuition.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.container-tarot {
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;

}

.cards {
    /* border: 1px solid; */
    position: relative;
    cursor: pointer;
    border-radius: 15px;
    width: 20vw;
    aspect-ratio: 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 0;
    color: rgb(46, 46, 46);
    /* box-shadow: 5px 5px 8px 2px rgb(39, 39, 39); */
    /* background-color: transparent; */

    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.cards.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.cards-back {
    background-image: url('https://www.usgamesinc.com/images/product/BSW84_card_back.jpg');
    background-size: contain;
    background-repeat: no-repeat;

    width: 20vw;
    aspect-ratio: 3 / 5;
    border-radius: 15px;

}


.cards-front {
    transform: rotateY(180deg);
    background-image: url('https://i.pinimg.com/564x/5e/2a/a8/5e2aa83c11ad8425436a64053f81caa0.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vw;
    aspect-ratio: 3 / 5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

@media (max-width: 768px) {
    .cards-back, .cards-front {
        width: 5vw;
        aspect-ratio: 3 / 5;
    }
    
}

@media (max-width: 912px) {
    .cards-back, .cards-front {
        width: 50vw;
        aspect-ratio: 3 / 5;
    }
    
}

.cards-front > h1, p {
    color: white;
}

.cards-front > p {
    font-size: 1rem;
}

.cards-front > h1 {
    font-size: 2rem;
}


@media (max-width: 480px) {
    .cards-front > p {
        font-size: 0.8rem;
    }
    
    .cards-front > h1 {
        font-size: 1.3rem;
    }
    
}

.card_face {
    backface-visibility: hidden;
    position: absolute;
}

section {
    border: 1px solid white;
    border-radius: 15px;
    width: 20vw;
    aspect-ratio: 3 / 5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    border-radius: 50px;
    height: 8vh;
    aspect-ratio: 7 / 3 ;
}

.footer-bg {
    /* background-image: url('https://i.pinimg.com/564x/64/df/8f/64df8f0fc779a58e9915ed5b5b210691.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

/* .footer-question {
    font-size: 1.5em;
    color: darkslategray;
    font-weight: bold;
} */

.copyright-text {
    color: darkslategrey;
}